In [1]:
import pandas as pd

In [9]:
df=pd.read_csv(r"C:\Users\User\Documents\BLOG\Python\population.csv",index_col="Country")

In [11]:
df.reset_index(inplace=True)

In [15]:
df.set_index('Country',inplace=True)

In [16]:
df

,Rank,CCA3,Capital,Continent,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,390757.0,41.7665,1.0204,0.20

In [30]:
df2=df[df['Rank']<=10]

In [31]:
df2.reset_index(inplace=True)

In [33]:
df2.set_index(['Continent','Country'],inplace=True)

In [36]:
df2.sort_index(ascending=[False,True])

                             Rank CCA3           Capital  2022 Population  \
Continent     Country
South America Brazil            7  BRA          Brasilia     2.153135e+08
North America Mexico           10  MEX       Mexico City     1.275041e+08
              United States     3  USA  Washington, D.C.     3.382899e+08
Europe        Russia            9  RUS            Moscow     1.447133e+08
Asia          Bangladesh        8  BGD             Dhaka     1.711864e+08
              China             1  CHN           Beijing     1.425887e+09
              India             2  IND         New Delhi     1.417173e+09
              Indonesia         4  IDN           Jakarta     2.755013e+08
              Pakistan          5  PAK         Islamabad     2.358249e+08
Africa        Nigeria           6  NGA             Abuja     2.185412e+08

                             Area (km²)  Density (per km²)  Growth Rate  \
Continent     Country
South America Brazil          8515767.0            25.2841       1.0046
North America Mexico          1964375.0            64.9082       1.0063
              United States   9372610.0            36.0935       1.0038
Europe        Russia         17098242.0             8.4636       0.9973
Asia          Bangladesh       147570.0          1160.0350       1.0108
              China           9706961.0           146.8933       1.0000
              India           3287590.0           431.0675       1.0068
              Indonesia       1904569.0           144.6529       1.0064
              Pakistan         881912.0           267.4018       1.0191
Africa        Nigeria          923768.0           236.5759       1.0241

                             World Population Percentage
Continent     Country
South America Brazil                                2.70
North America Mexico                                1.60
              United States                         4.24
Europe        Russia                                1.81
Asia          Bangladesh                            2.15
              China                                17.88
              India                                17.77
              Indonesia                             3.45
              Pakistan                              2.96
Africa        Nigeria                               2.74